<div class='card-button'>
    <div class="dnd5e chat-card item-card">
        <header class="card-header flexrow">
            <img src="{{ img }}" title="{{ title }}" width="36" height="36">
            <h3 class="item-name">{{ title }}</h3>
        </header>
        <span class="flavor-text">({{ spellLevel }} - {{ components }})</span>
        <h2>{{ save }}</h2>
        <div class="card-content">
            {{{ description }}}
        </div>
    </div>
</div>